img  { height: 250px;}

table {
  padding: 50px;
  border: none;
}

thead {
  background-color: grey;
}

thead {
  color: white;
}

td {
  padding: 10px;
}

.button {
  width: 40px;
  height: 40px;
  background-color: grey;
  margin: 5px;
  border-radius: 5px;
  float: left;
  cursor: pointer;
}

.button-first {
  margin-right: 20px;
}

.button-last {
  margin-left: 20px;
}

.copy {
  border-radius: 25px;
  border: 1px solid #ddd;
  padding: 15px;
  float: right;
  cursor: pointer;
}

.heading {
  padding: 50px;
}
